@import "style/id.css";
@import "style/text.css";
@import "style/image.css";
@import "style/expandable.css";
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/liberation-serif.min.css");

:root { /* Totally not VSCode inspired colors */
    --cyan: rgb(100, 185, 181);
    --magenta: rgb(135, 70, 145);
    --yellow: rgb(165, 146, 76);
    --blur-size: 12px;
    --text-content-color: whitesmoke;
}  


body {
    overflow: scroll;
    font-family: 'Liberation Serif', sans-serif;
    font-size: 2em;
    line-height: 140%;
    color: var(--text-content-color);

    background: linear-gradient(45deg, #003a0b, #003349, #47002f, #5d2f00);
    background-attachment: fixed;
    background-size: 400% 400%;
    -webkit-animation: BackgroundColor 70s ease infinite;
    -moz-animation: BackgroundColor 70s ease infinite;
    animation: BackgroundColor 70s ease infinite;
    
}

#portrait {
    width: 150px;
    height: auto;
    object-fit: scale-down;
}

iframe {
    max-width: 100%;
    width: 30em;
    height: 15em;
    object-position: center;
    object-fit: contain;
    margin-right: 30px;
    border-radius: 32px;
}

@keyframes BackgroundColor {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


@keyframes color_loop {
    0%   { box-shadow: 0px 0px var(--blur-size) var(--cyan) inset;    }
    16%  { box-shadow: 0px 0px var(--blur-size) var(--magenta) inset; }
    32%  { box-shadow: 0px 0px var(--blur-size) var(--magenta) inset; }
    48%  { box-shadow: 0px 0px var(--blur-size) var(--yellow) inset;  }
    64%  { box-shadow: 0px 0px var(--blur-size) var(--yellow) inset;  }
    100% { box-shadow: 0px 0px var(--blur-size) var(--cyan) inset;    }
}


#content { /* #howtocenteradiv */
    /* overflow: scroll; */
    position: absolute;
    display: block;
    margin: auto;
    top: 123px;

    transform: translate(-50%, 0%);
    left: 50%;
    /* top: 50%; */

    width: 800;
    /* height: 75%; */
    min-width: 300px;
    max-width: 70%;
    padding: 50px;

    opacity: 0.75;
    background-color: rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px var(--blur-size) rgb(70, 70, 70);
    /* box-shadow: 0px 0px 120px white inset; */

    border-radius: 12px;
    /* border: 2px solid #020202; */

    animation: color_loop 24s;
    animation-iteration-count: infinite;
}

#content::-webkit-scrollbar { display: none; }
#content { scrollbar-width: none; }





