details {
    padding: 24px;
    /* padding-left: 24px; */
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 32px;
    background-color: #11111100;
    /* background: linear-gradient(45deg, #143f60b1, #977325); */
    opacity: 0.7;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.564) inset;
    
    transition: background-color 250ms ease-out;
}


summary {
    color: #CCCCCC;
    line-height: 120%;
    font-style: normal;
    font-size: 130%;
}


details > summary {
    cursor: pointer;
    color: rgb(177, 177, 177);
    transition: margin 250ms ease-out;
}

details:hover {
    opacity: 1;
    background-color: #ffffff57;
    /* box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.564); */
}

details:hover > summary {
    color: white;
    transition: color 150ms ease-in;
}
  
details[open] > summary {
    color: white;
    font-style: oblique;
    margin-bottom: 20px;
}

details[open] {
    opacity: 1;
    /* background-color: #ffffff22; */
    background-color: #ffffff11;
    /* background: linear-gradient(45deg, #143f60, #977325); */
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.741);
    transition: background-color 500ms ease-in;
}

/* details > details[open] {
    background-color: rgb(93, 93, 93);
    color: black;
}

details > details[open] > summary {
    color: black;
} */
