#borgund      { color: #019bcb;             }
#tryggheim    { color: #9c4743;             }
#osc          { color: #005577;             }
#stokke       { color: #ff8c00;             }
#solwr        { color: yellow;              }
#ntnu         { color: #00579F;             }
#spotify      { color: greenyellow;         }
#devil        { color: red;                 }
#royksopp     { color: white;               }
#solarfields  { color: rgb(255, 227, 125);  }
#openbsd      { color: pink;                }
#arch         { color: aqua;                }
#x11          { color: orange;              }
#suckless     { color: #019bcb;             }
#dwm          { color: white;               }
#neovim       { color: aquamarine;          }
#code         { color: #0E639C;             }
.nim          { color: yellow;              }
#c            { color: lightblue;           }
#python       { color: rgb(0, 110, 194)     }
#java         { color: red;                 }
#js           { color: yellow;    }
#csharp       { color: rgb(205, 0, 205);    }
#cpp          { color: lightskyblue;        }
#perl         { color: rgb(0, 105, 225);    }
#rust         { color: rgb(225, 109, 0);    }
#elixir         { color: rgb(199, 0, 225);  }
#kotlin         { color: rgb(115, 0, 255);  }
#fortran         { color: rgb(242, 148, 255);}
#ue4          { color: white;               }
.godot        { color: #0096FF;             }
#unity        { color: white;               }
#blender      { color: #ff8c00;             }
#gimp         { color: #676767;             }
#inkscape     { color: #ffffff;             }
#fathers      { color: orange;              }
#heimskringla { color: lightskyblue;        }
#freediving   { color: aquamarine;          }
#bouldering   { color: lightblue;           }
#nix          { color: lightblue;           }
#yt           { color: red;                 }
.gitlab       { color: orange;              }
#gitea        { color: rgb(52, 135, 0);     }
#itch         { color: pink;                }
#session      { color: limegreen;           }

.red          { color: rgb(255, 105, 122);  }
.white        { color: white;               }
.blue         { color: rgb(139, 174, 255);  }


#westone-spectrum-sx, #baby-v, #heimklang-harp { 
    background-color: black;
    opacity: 1.0;
    box-shadow: none;
}

#westone-spectrum-sx > summary {
    color: #ff534a;
}

#baby-v > summary {
    color: white;
}

#aria-pro-ii { 
    background-color: white; 
    opacity: 1.0;
    box-shadow: none;
}

#aria-pro-ii > summary {
    color: black;
}

#hagstrom-viking {
    background-color: rgb(21, 41, 0); 
    opacity: 1.0;
    box-shadow: none;
    border-style: solid;
    border-width: 4px;
    border-color: cornsilk;
}

#hagstrom-viking > summary {
    color: cornsilk;
}

#prs-se {
    background-color: rgb(41, 27, 0); 
    opacity: 1.0;
    box-shadow: none;

    border-top-style: solid;
    border-top-width: 3px;
    border-top-color:saddlebrown;

    border-bottom-style: solid;
    border-bottom-width: 7px;
    border-bottom-color: peru;
}

#prs-se > summary {
    color: rgb(255, 221, 177);
}

#hagstrom-nylon {
    background-color: rgb(102, 46, 0);
    opacity: 1.0;
    box-shadow: none;
}

#hagstrom-nylon > summary {
    color: rgb(255, 187, 0);
}

#octave-bass {
    background-color: rgb(83, 26, 0); 
    opacity: 1.0;
    box-shadow: none;
}

#octave-bass > summary {
    color: antiquewhite;
}

#fernandes-fretless {
    background-color: rgb(63, 0, 52); 
    opacity: 1.0;
    box-shadow: none;
}

#fernandes-fretless > summary {
    color: white;
}

#heimklank-harp > summary{
    color: orange;
}

#clay-flute {
    background-color: rgb(185, 102, 0); 
    opacity: 1.0;
    box-shadow: none;
}

#clay-flute > summary {
    color: white;
}

#plingplong {
    background-color: rgb(75, 31, 0); 
    opacity: 1.0;
    box-shadow: none;
}

#plingplong > summary {
    color: white
}

#sorrow {
    background-color: salmon; 
    opacity: 1.0;
    box-shadow: none;
}

#sorrow > summary {
    color: white;
}