img {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 30em;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    border-radius: 32px;
}

.preserve-corners {
    border-radius: 0;
}