h1,h2    { color: white; font-style: oblique; margin-top:    50px; }
h3       { color: white; font-style: oblique; margin-bottom: 7px;  }
h4,h5,h6 { color: white; font-style: oblique; margin-bottom: 7px;  }

h1,h2,h3,h4,h5,h6 {
    margin-left: 24px; 
}

li:not(:has(> li)) { 
    line-height: 1.5;
    color: #c4c4c4;
}


ul,ol,p {
    color: #c4c4c4;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 32px;
    font-style: oblique;
}

ul,ol {
    padding: 24px;
    padding-left: 50px;
}


p {
    /* color: var(--text-content-color); */
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 24px;
}


a {
    color: white;
    text-decoration: none;
    font-style: normal;
}


a:hover {
    font-style: oblique;
    text-decoration: underline;
}
